/* CSS Document */
/*body{
	margin:0px;
	
	font-size:11px;
	background-color:#FFFFFF;
	background-image:url(images/top_bg.jpg);
	background-repeat:repeat-x;
}*/
.banner_bg{
	background-image:url(images/banner_bg.jpg);
	background-repeat:repeat-x;
	height:232px;
	}
.login input{
	font-size:10px;
	}
.login_whit{
	color:#FFFFFF;
	}
.login_whit a:link,.login_whit a:visited, .login_whit a:active{
	text-decoration:none;
	color:#FFFFFF;
}
.login_whit a:hover{
	text-decoration:underline;
	color: #666666;
	}
.smart_job{
	border-left:#4A8394 solid 1px;
	}
.smart_bot{
	border-bottom:#4A8394 solid 1px;
	}
.smart_right{
	background-image: url(images/smartjob_right.jpg);
	background-repeat:repeat-y;
	background-position:right;
	}
td{

	font-family:Verdana, Arial, Helvetica, sans-serif;

	font-size:11px;
	}



.active_step{

	background-color:#99CC00;

	text-align:center;

	}

.unactive_step{

	background-color:#E1E6EC;

	text-align:center;

	}

/*a {

	font-family: Verdana, Arial, Helvetica, sans-serif;

	font-size: 13px;

	color: #000000;

}

a:link {

	text-decoration: none;

}

a:visited {

	text-decoration: none;

	color: #000000;

}

a:hover {

	text-decoration: underline;

	color: #8494AE;

}

a:active {

	text-decoration: none;

	color: #000000;

}

/*



#page1{

	height:1750px;
	position:relative;

	

	}

#page2{

	height:530px;

	position:relative;

	

	}

#page3{

	height:480px;

	position:relative;

	

	}

#page4{

	height:480px;

	position:relative;

	

	}

#page5{

	height:480px;

	position:relative;

	

	}

#page1_sub{

	height:1720px;
	position:relative;
	overflow:auto;
	

	}

#page2_sub{

	height:500px;

	position:relative;

	overflow:auto;

	}

#page3_sub{

	height:450px;

	position:relative;

	overflow:auto;

	}

#page4_sub{

	height:450px;

	position:relative;

	overflow:auto;

	}

#page5_sub{

	height:450px;

	position:relative;

	overflow:auto;

	}

#page1_foter{

	height:30px;

	}

input{

	font-family: Tahoma;

	font-size:11px;

	color:#666666;

	background-color:#E4E8ED;

	border:#8898B3 solid 1px;

	}

textarea{

	font-family: Tahoma;

	font-size:13px;

	color:#666666;

	background-color:#E4E8ED;

	border:#8898B3 solid 1px;

	}

	

select{

	font-family: Tahoma;

	font-size:11px;

	color:#666666;

	background-color:#E4E8ED;

	border:#8898B3 solid 1px;

	}

.submitbutton {

background-color:#DADFE7;

border:1px solid;

color:#666666;

font-family:Verdana,Arial,Helvetica,sans-serif;

font-size:12px;

margin:5px;

}

.submitbutton:hover {

background-color: #DADFE7;

border:1px solid;

cursor: pointer;

color:#000000;

font-family:Verdana,Arial,Helvetica,sans-serif;

font-size:12px;

}

.register a:link {

	display:block;

	text-decoration: none;

	font-family:Verdana, Arial, Helvetica, sans-serif;

	font-size:12px;

	color:#000000;

	font-style:normal;

}

.register a:visited {

	text-decoration: none;

	color: #000000;

}

.register a:hover {

	text-decoration: underline;

	color: #000000;

}

.register a:active {

	text-decoration: none;

	color: #000000;

}

.alart{

	color:#FF0000;

	font-family:Tahoma;

	font-size:11px;

	}

.login_top{

	font-family:Tahoma;

	font-size:12px;

	color:#FFFFFF;

	font-weight:bold;

	}

a.login_text2{

	font-family:Tahoma;

	font-size:10px;

	color:#0b5f97;

	font-weight:bold;
	}
.login_text{

	font-family:Tahoma;

	font-size:10px;

	color:#0b5f97;

	font-weight:bold;
	}
.header_line{
	color:#0b5f97;
	font-weight:bold;
	font-size:13px;
	background-color:#DFE2DE;
	height:22px;
	}
.loginbutton {

	font-family: Tahoma;

	font-size:10px;

	color: #FFFFFF;

	font-weight:bold;

	background-color:#0b5f97;

	border:#8898B3 solid 1px;

}

#favarit_box{

	background-color:#FFFFFF;

	width:200px;

	height: auto;

	top:242px;

	left:40px;

	position: fixed;

	border:#CCCCCC solid 1px;

	}

.cv_list{

	font-family:Tahoma;

	font-size:12px;

	font-weight:bold;

	color:#FFFFFF;

	}

.foter{

	font-family:Tahoma;

	font-size:10px;

	font-weight:bold;

	color:#FFFFFF;

	}
.shadetabs{
border-bottom: 1px solid gray;
/* width: 90%; width of menu. Uncomment to change to a specific width */
margin-bottom: 1em;
}

.shadetabs ul{
padding: 3px 0;
margin-left: 0;
margin-top: 1px;
margin-bottom: 0;
font: bold 12px Verdana;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.shadetabs li{
display: inline;
margin: 0;
}

.shadetabs li a{
text-decoration: none;
margin-right: 3px;
border: 1px solid #778;
color: #2d2b2b;
background: white url('media/shade.gif') repeat-x top left;; padding-left:7px; padding-right:7px; padding-top:3px; padding-bottom:3px
}

.shadetabs li a:visited{
color: #2d2b2b;
}

.shadetabs li a:hover{
text-decoration: underline;
color: #2d2b2b;
}

.shadetabs li.selected{
position: relative;
top: 1px;
}

.shadetabs li.selected a{ /*selected main tab style */
background-image: url('media/shadeactive.gif');
border-bottom-color: white
}

.shadetabs li.selected a:hover{ /*selected main tab style */
text-decoration: none;
}

.more a:link, .more a:active, .more a:visited{
	text-decoration:none;
	color:#74A2B2;
	}
.more a:hover{
	text-decoration:underline;
	}
	
.link a:link {
	display:block;
	text-decoration: none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	font-style:normal;
}
.link a:visited {
	text-decoration: none;
	color: #000000;
}
.link a:hover {
	text-decoration: underline;
	color: #000000;
}
.link a:active {
	text-decoration: none;
	color: #000000;

}
.verdana_13px{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	}
.add_bg{
	background-image:url(images/category_bg2.jpg);
	background-repeat: repeat-x;
	background-position:top;
	}
.add_table img{
	border:solid 1px #568FA2;
	}
.cat_bg{
	background-image:url(images/category_bg.jpg);
	background-repeat:repeat-x;
	}
.normal_link a:link,.normal_link a:visited,.normal_link a:active  {
	text-decoration: none;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	font-style:normal;
}

.normal_link a:hover {
	text-decoration: underline;
	color: #000000;
	text-align:left;
}
.normal_link_13{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	text-align:left;
}
.normal_link_13 a:link,.normal_link_13 a:visited,.normal_link_13 a:active  {
	text-decoration: none;
	color:#000000;
}

.normal_link_13 a:hover {
	text-decoration: underline;
	color: #000000;
}
.yellor{
	color:#CC6633;
	}