//Created by ANKIT on 16/01/16.
doctype html
html
    head
        style
            include ../public/cssfiles/jobseekerhome.css
        title
            | JobMensa
    body
        div(class="header")
            div(id="headertitle")
                | Welcome

        ul
            li
                a.active(href='#') Home
            li
                a(href='/OpenAddjobs') Add Jobs
            li
                a(href='/showJobs') View Jobs
            li
                a(href='/logout') logout

        div(style='margin-left:25%;height:300px;' id="news")
            li #{users[0]._id}: