//Created by ANKIT on 16/01/16.
doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        title Job Mensa
        link(rel='stylesheet', media='screen', href='../public/cssfiles/style.css')
        link(href='../public/cssfiles/style.css', rel='stylesheet', type='text/css')
        link(href='../public/cssfiles/styles.css', rel='stylesheet', type='text/css')
        script(src='../public/jsfiles/jquery.js')
        script(type='text/javascript', src='../public/jsfiles/jquery.validate.js')
        script.
            $(document).ready(function () {
                $("#table1").validate();
            });
        style.
            .content {
                float: right;
                font-family: "Arial";
                font-size: 11px;
                height: auto;
                margin-top: 5px;
                padding-left: 5px;
                width: 670px;
            }
    body
        // MAIN DIV
        .maindiv
            // Banner
            header
                h1
                    a(title='CSS Junction', href='#')
                        img(src='../public/images/logo.png', width='200px')
                    small Germany Largest Jobsite
            // End Banner
            // Job TITLE
            // / Job TITLE
            // Content
            .w9000.center
                table(style='border-top: 1px solid rgb(255, 255, 255);', width='100%', align='center', border='0', cellpadding='0', cellspacing='0')
                    tbody
                        tr
                            td.azjGrayArial12px(height='30')
                                .content_title
                                    h5
                                        img(src='../public/images/jobs1.png', width='25')
                                        |   Employer Name: #{name}
                            td.azjGrayArial12px(align='right')
                                a(href='/logout', style='color: #1e7892;text-decoration: none') Logout
                        tr
                            td(colspan='2')
                .leftmenu
                    table#azjmenu(cellpadding='0', cellspacing='1')
                        tbody
                            tr
                                td(bgcolor='#FFFFFF')
                                    a(href='/viewEmployerProfile')
                                        //img(src='images/pix.gif', width='1', height='28', align='middle', border='0')
                                        | Home
                            tr
                                td(bgcolor='#FFFFFF')
                                    a(href='/OpenAddjobs') Add Jobs
                            tr
                                td(bgcolor='#FFFFFF')
                                    a(href='/showJobs') View Jobs
                .content
                    #medsection1
                        table(width='660', border='0', cellspacing='0', cellpadding='0')
                            tr
                                td.azjtabNormal(width='600', height='57')
                                    div(align='justify')
                                        br
                                        table(width='600', align='center', border='0', cellspacing='1', cellpadding='0', style='margin-bottom:1px;')
                                            tr
                                                td(colspan='4' align='center')
                                                    h2 Employer Homes
                                            tr
                                                table(width='100%')
                                                    tr
                                                    td
                                                        p Job portals are one of the easiest and effective ways to interact with the companies and search for a job. These portals provide us with enough opportunities to start from the scratch, like from making curriculum vitae to online job interview. Though majority of them does the same task, they more or less follow the same procedure to build and to process. In general these portals are used mostly by the graduate who wants to get in to the job market right after finishing their study. In some cases students who are currently studying or about to finish the study also uses this type of online portals. While the current students look for part time jobs or mini jobs, the other type of student mass look for project, internship or thesis. Even some of them are also interested in attending some comparatively long workshops, but for the prospective job seekers get the most from it. So, in all respects, the online job application portals are considered as vital resource in case of employment.
                                                    tr
                                                    td
                                                        p Our focus here is going to be towards the international students and research personals as the number is rapidly increasing with the time. Foreign students, after study wants to get involved in jobs in this country as they hope to get some extra facilities here, but reaching in that level is a daunting task. A shade of light in the darkness is, recently the demand of international students who are eventually termed as skilled professionals, is increasing day by day. Especially in case of Information technology the demand is much higher. But not only for the Information technology, but also for other fields like medical, business, entrepreneurship etc. the scenario is the same.
                                                    tr
                                                    td
                                                        p During the recent web research, statistics have shown intriguing results for the international students in Germany and also the problem they face while and after studying there. While in the recent past more than 300,000 international students have come here to study. Most of them have a little knowledge of the language here and during the study it is a very complicate task and sometimes tends to impossible to learn the same. Moreover the students and prospective job holders do not have enough information about the companies here. It’s also a time consuming task to know. Even after finding the company, the next step becomes more challenging which involves right from making the curriculum vitae, cover letter and applying to the respective company. These kinds of problems occur as the total system is different from the students’ concerned countries.
