//Created by ANKIT on 15/01/16.
doctype html
html
    head
        style
            include ../public/cssfiles/jobseekerhome.css
        title
            | JobMensa
    body
        div(class="header")
            div(id="headertitle")
                | Welcome
        ul
            li
                a.active(href='#') Home
            li
                a(href='/ViewJobs') View Jobs
            li
                a(href='#update_data') Update Data
            li
                a(href='/logout') logout

        div(style='margin-left:25%;height:300px;' id="news")


            each a in users
                table
                    tr
                    td
                        - var thumb = new Buffer(a.img.data).toString('base64');
                        img(src="data:image/jpeg;base64,#{thumb}" width="150px" height="150px")



                //li #{users[0]._id}: