@import url("typo.css");
@import url("ie.css");

body
{
background:#FFFFFF url(../images/b.png) repeat-x;

margin:0;
padding:0;
}

img
{
	margin:0;
	padding:0;
	border:0;
}
.adleftcenter
{
	width:250px;
	margin:2px 0;
	margin-left:4px;
}


h5 a
{
color:#333333;
text-decoration:none;}

.msg
{
color:#0099FF;
font:14px/20px "Trebuchet MS";

}




.adleft_full
{
	border:#333333 1px solid;
	width:250px;
	height:auto;
	margin:2px 0px;
	margin-left:4px;
}
.addleft_full a img
{
	margin:0;
	border:0;
}

.adleft_half
{
width:120px;
height:auto;
border:1px solid #333333;
margin:1px 0px;
margin-left:8px;
}


.border-206b82
{
border:1px solid #206b82;
border-top:none;}

.lefthalfad
{}

.maindiv
{

	width:1000px;
	margin:0px auto;
	background: url(body-bg.jpg) repeat;
	 border: 1px solid #CCCCCC;
	   -moz-box-shadow:rgba(0,0,0,0.15) 0 0 20px;
    -webkit-box-shadow:rgba(0,0,0,0.15) 0 0 20px;
    box-shadow:rgba(0,0,0,0.15) 0 0 20px;
}


<!---  My CSS Create TAheem ----->

header
{
width:1000px;
border:1px dotted #B5B5B5;
height:80px;
margin:0 auto;
position:relative;
padding:20px 0 0;
background: url(../employer/images/header.png) repeat ;
opacity:0.4px;
}

header h1 small{font:normal 16px/26px "Palatino Linotype", "Book Antiqua", Palatino, serif; display:block; color:#000;}

#searchform
{
position:absolute;
right:0;
top:20px;

}

#searchform{position:absolute; top:20px; right:0;}
article #searchform{position:static; min-height:400px;}
article #searchform{padding:0 0 60px;}
#searchform input.txtField{border:1px solid #dfdfdf; background:url(images/icons-16.png) 90% -166px no-repeat #f3f3f3; -moz-border-radius:12px; -webkit-border-radius:12px; border-radius:12px; font:12px/14px Arial; color:#929292; padding:2px 15px; width:60px; -moz-box-shadow:inset rgba(10,10,10,0.05) 0 0 5px; -webkit-box-shadow:inset rgba(10,10,10,0.05) 0 0 5px; box-shadow:inset rgba(10,10,10,0.05) 0 0 5px; -moz-transition:width 0.3s ease-in-out; -webkit-transition:width 0.3s ease-in-out; transition:width 0.3s ease-in-out;}
#searchform input.txtField:focus{border-color:#ccc; width:180px; background-position:96.5% -181px; background-color:white; -moz-box-shadow:inset rgba(10,10,10,0.05) 0 0 5px, 0 0 3px rgba(0, 255, 255, 0.3); -webkit-box-shadow:inset rgba(10,10,10,0.05) 0 0 5px, 0 0 3px rgba(0, 255, 255, 0.3); box-shadow:inset rgba(10,10,10,0.05) 0 0 5px, 0 0 3px rgba(0, 255, 255, 0.3);}
#searchform input.frmButton{visibility:hidden; width:0; height:0;}
article #searchform input.txtField{padding:3px 15px; width:280px; background-position:95% -164px;}
article #searchform input.txtField:focus{width:280px; background-position:95% -179px;}

header h1{margin:0; width:265px; text-align:right; font-size:40px !important; position:relative; z-index:100;}
header h1 a{color:#089; text-shadow:0 0 5px rgba(100, 255, 105, 0.4);}



menu
{
width:1000px;
border:0px dotted #B5B5B5;
height:30px;
margin:0 auto;
position:relative;
padding:10px 0 0;

opacity:0.4px;
}


#wrap{
      margin:0px auto;
	  width:1000px;
	  background:#999999;
	  border:0px solid #FF0000;
	 
	  }



#left  {
        border:0px solid silver;
		width:310px;
		min-height:345px;
		margin-top:5px;
		margin-left:0px;
		padding-left:3px;
		float:left;
		height:auto;
		background: url(../employer/images/header.png) repeat ;
			   -moz-box-shadow:rgba(0,0,0,0.15) 0 0 20px;
    -webkit-box-shadow:rgba(0,0,0,0.15) 0 0 20px;
    box-shadow:rgba(0,0,0,0.15) 0 0 20px;
	position:fixed;
		}
		
		
		
#content
        {
		border:0px solid silver;
		min-height:600px;
		width:672px;
		margin-top:5px;
		margin-left:0px;
		
		float:right;
		background-color:;
		opacity:0.8;
		color:silver;
		height:auto;
		
		background: url(../employer/images/header.png) repeat ;
			   -moz-box-shadow:rgba(0,0,0,0.15) 0 0 20px;
    -webkit-box-shadow:rgba(0,0,0,0.15) 0 0 20px;
    box-shadow:rgba(0,0,0,0.15) 0 0 20px;
	
		}
		
		
		
		h1
		{
		text-shadow: 1px 3px 3px rgb(0, 0, 0); color:;
		}
		
		
		h2 {
    background: url("../employer/images/title-bg2.png") no-repeat scroll left top transparent;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: normal;
    height: 51px;
    letter-spacing: -1px;
    line-height: 36px;
    margin: 0 0 17px -40px;
    text-indent: 50px;
    width: 560px;
	color: #326565;
}




		h6 {
    background: url("../employer/images/title-bg2.png") no-repeat scroll left top transparent;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: normal;
    height: 51px;
    letter-spacing: -1px;
    line-height: 36px;
    margin: 0 0 7px -76px;
    text-indent: 50px;
    width: 540px;
	color: #fff;
}



		h3 {
    background: url("../employer/images/title-bg3.png") no-repeat scroll left top transparent;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: normal;
    height: 40px;
    letter-spacing: -1px;
    line-height: 26px;
    margin: 0 0 2px -11px;
    text-indent: 24px;
    width: 320px;
}




		h5 {
 background: url("../employer/images/title-bg3.png") no-repeat scroll left top transparent;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: normal;
    height: 40px;
    letter-spacing: -1px;
    line-height: 26px;
    margin: 0 0 2px -11px;
    text-indent: 24px;
    width: 320px;
}




ul
{
list-style-type:none;
padding:0px;
margin:0px;
}
ul li
{
background-image:url("../employer/images/arrow.jpg");
background-repeat:no-repeat;
background-position:0px 5px; 
padding-left:14px;
font-size: 13px;
font-weight: bold;
color:#666666;
text-align: justify;
}



.content_title {
    color: #000;
    font-size: 18px;
}

.emptitle {
    color: #85C2C2;
    font-weight: bold;
}

.content1 {
    color: #000;
    font-size: 11px;
    padding: 5px 5px 20px 0;
    text-align: justify;
}


.dateTag{background:url(../employer/images/date-tag2.png) 0 0 no-repeat; height:56px; padding:35px 14px 25px 6px; width:37px; color:white; font:31px/25px Impact, Bebas, Helvetica, Arial; display:block; position:absolute; left:-5px; top:-6px; text-align:center; text-shadow:0 2px 0px rgba(0,0,0,0.2);}
.dateTag small{font-size:17px; display:block; line-height:35px; overflow:hidden; text-align:center;}




article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;
}
input, select { vertical-align:middle; }



.inside {
    -moz-box-shadow: 0 0 28px #000;
    background: url("../employer/images/body-bg2.jpg") repeat scroll 0 0 transparent;
   -webkit-box-shadow:0 0 28px #000;
    box-shadow:0 0 28px #000;
	border-radius:25px;
   
}



<!---- End My Css of Employer Panel ---->


.topbar
{
	margin:10px auto;
}

.marginL10
{
	margin-left:10px;
}
.topad
{
	border:#333333 1px solid;
	float:left;
	width:450px;
	height:60px;
}

.center
{
	margin:0 auto;
}

.clear
{
	clear:both;
}

.marginT10
{
	margin-top:10px;
}

.marginB10
{
margin-bottom:10px;}

.marginTB20-10
{
margin-top:20px;
margin-bottom:10px;}


.marginLR10-10
{
margin-left:5px;
margin-right:5px;
}


.banner
{
height:150px;
width:930px;
/*background:url(../images/header-banner.png) no-repeat;*/


}




.jobtitle
{
width:915px;
height:auto;
background:#cfd6ce;
border-top:3px solid #b4bfc1;
border-bottom:3px solid #b4bfc1;
border-left:1px solid #aaa;
border-right:1px solid #aaa;
}



.joblinks
{
width:900px;
padding:5px;

}


.contTitle{
color:#003366;
font:bold 15px "Trebuchet MS";
padding:10px 0 0 15px;
margin:0;

}

.logintable
{
text-align:justify;
border:0;

border:1px #CCCCCC solid;
border-bottom:0;
border-left:0;
width:300px;
}

.logintable td{

border-bottom:1px #CCCCCC solid;
border-left:1px #CCCCCC solid;
padding:2px 10px;
}


.logintable input{
border:#0099FF 1px inset;
background:#CCCCCC;

width:250px;

}
.logintable .submit
{
border:none;
border-top: #0066CC 2px solid;
background:#99CCFF;
width:auto;
font:12px/20px "Trebuchet MS";
padding:0 5px;
margin:0;
}


#code
{
text-transform:uppercase}



.newusertable{
text-align:justify;
border:0;

border:1px #CCCCCC solid;
border-bottom:0;
border-left:0;
width:100%;
}


.newusertable td{

border-bottom:1px #CCCCCC solid;
border-left:1px #CCCCCC solid;
}

.newusertable input{
border:#0099FF 1px inset;
background:#CCCCCC;
width:250px;

}
.newusertable .submit
{
border:none;
border-top: #0066CC 2px solid;
background:#99CCFF;
width:80px;
font:12px/20px "Trebuchet MS";
padding:0;
margin:0;
}


.success
{
color:#0066CC}

.error
{
color:#990000}


.col-66CCFF
{
background:#66CCFF;
}

.col-CCCCCC
{
background:#CCCCCC;
}



.fillup
{
font:12px "Trebuchet MS";}

.linkz
{
width:590px;
}


.menuAd{
width:250px;
height:auto;
margin-left:10px;
}




.joblinks a
{
text-decoration:none;
color:#333333
}

.joblinks a:hover
{
text-decoration:underline;
color:#333333
}

.more a
{
color:#666666}

.bannerContent
{
width:700px;
height:200px;
margin:0px 25px 15px 0;}

.LoginBoxes
{
	width:200px;
	background:none;
}

form
{
margin:0;}

.SearchBox
{
width:401px;
}


.SearchInput
{
width:360px;
height:19px;
margin-top:5px;
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
padding:5px 0;
border:0;}

.links
{
	margin-top:40px;
	/*border:1px solid #ccc;
	background:#1E6982;*/
	
}


.regBox
{
	float:left;
	background:#b9c0b9;
	width:200px;
	margin-top:35px;
	font-size:12px;
	font-family:Arial;
	padding-bottom:20px;
	padding-left:5px;
	padding-right:5px;
	text-indent:4px;
	height:auto;
}

.regBox .input
{
background:#fff;
border:0;
padding:2px;
width:110px;
}
.regBox input:focus
{
	border:1 px solid #ccc;
	background:#f9f9f9;
}
.regBox a
{
	text-decoration:none;
	color:#fff;
}
.regBox a:hover
{
	font-weight:bold;
	color:#000;
}
.submit
{
margin-top:5px;
width:60px;
height:24px;
text-align:center;
font-size:12px;
font-weight:bold;
padding-bottom:5px;
}

.white
{
color:#FFFFFF;
font:12px/20px Verdana, Arial, Helvetica, sans-serif;}

.white a
{
color:#FFFFFF;
text-decoration:none;
}

.links a:hover
{
text-decoration:underline;}


.Check
{
width:62px;
height:16px;
margin-top:4px;
border:0;
position:relative;
background:#CCCCCC;
margin-left:2px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
}

.searchContent
{
padding-left:8px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:15px;
}


.logoBox
{
width:500px;
margin-top:40px;
}




.w900
{
width:910px; min-height:400px; height:auto; margin-top:5px;}


.w9000
{
width:910px;min-height:1150px; max-height:auto; margin-top:5px;background:url(../employer/images/header.png) repeat;}

.w600
{
	width:605px;
	font-size:11px;
	font-family: "Arial",Verdana, 'Times New Roman',SolaimanLipi;
}

.w275
{
width:275px;
}

.dot
{
	margin-top:3px;
	border-bottom:#333333 1px dashed;
	height:1px;
}


.logoimg
{
padding:0px;}


.smtcontent
{
	float:left;
	padding:2px;
	font-size:10px;
	width:210px;
}

.smtcontent ul
{
	margin:0px;
	padding-left:12px;
}
.smtcontent ul li
{
	font-size:10px;
	list-style-type:square;
	list-style-image:url('../images/bullet_azadi.gif');
	line-height:6px;
	
}
.smtcontent ul li a
{
	text-decoration:none;
	line-height:10px;
	color:#d50;
}
.smtcontent ul li a:hover
{
	color:#1E6982;
}
.logoimg img
{
padding:3px;
border:#666666 1px solid;
margin:5px;
}


.cc
{
	width:295px;
	height:100px;
	padding-top:7px;
	padding-bottom:5px;
	margin-left:0px;
	float:left;
	border:1px solid #000;
}

.floatLeft
{
float:left;
}

.floatRight
{
float:right;
}

.maincontent{}

.rightcontent{}


.adtop
{
width:930px;

}


.footer
{
padding:20px 0;
background: url(../images/footer.png) bottom no-repeat;
width:925px;
height:100px;
text-align:center;}


.footer a
{text-align:center;
color:#333333;
text-decoration:none;
font-size:11px
}



.traning
{
	margin-top:2px;
	margin-left:7px;
	width:250px;
	height: auto;
	background:#C8CEBC;
 /*-moz-border-radius:10px;
 -webkit-border-radius:10px;*/
  min-height:250px;
  border: 0px solid #ddd;
  padding:0px;


}